<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title> Importation/Déportation </title>
    </head>

    <body>
        <script>
          function deporter(agendaName) {
	      const obj = { agenda: agendaName};
	      // On va envoyer au serveur la selection de l'utilisateur.
	      fetch('/importerDeporter/agendaDeporter', {
		  method: "POST",
		  headers: {
		      "Content-Type": "application/json",
		  },
		  body: JSON.stringify(obj)
	      })
		  .then( response => response.json())
	          .then( result => {
		      console.log('Réponse du serveur : ', result.message);

		      // on demande à télécharger la ressource
		      const downName = agendaName + "-JSON.json" ;
		      window.location.href = `/download/agenda/${downName}`;
		      
		  })
		  .catch(err => console.error(err));
	    }
	  
            // on ajoute l'ecouteur sur le bouton quand le DOM est lodaed
            document.addEventListener('DOMContentLoaded', () => {
                 document.getElementById('fileButton2')
                    .addEventListener('click', () => {

			// On récupère le nom de l'agenda dans le DOM
			const select         = document.getElementById('selectionAgendaDeporter');
			const agendaTxt      = select.options[select.selectedIndex].text;

			// fonction défini au dessus
                        deporter(agendaTxt);
                    });
            });
          
        </script>
	
        <div>
            Sur cette page, vous pouvez importer ou bien déporter un fichier agenda.
            Ce fichier doit uniquement avoir été déporté/créé par notre page de déportation ici présente. 
        </div> 
        <div>
	  <form action="/importerDeporter/agendaImporter" method="POST">
	    <table>
	      <tr>
		<td> <input type="file" name="fileOpen"></td>
	      </tr>
	    </table>
	  </form>
        </div>
        <div>
            <button id="fileButton2" name="fileButton2"> Deporter </button>
        </div>       
        <div>
            <label for='selectionAgendaDeporter'> Choisir un agenda à déporter </label>
            <select id="selectionAgendaDeporter">
                <% data.forEach(item => { %>
                <option value="<%= item.id %>">
                    <%= item.nom %>
                </option>
                <% }) %>
            </select>
        </div>
    </body>
</html>
