html, body {
    height: 100%;
    margin: 0;
    color: #3d4144;
    font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif;
    background: #e8f0fe;
}

#conteneur {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteneur.actif{
    display: flex;
}


#conteneur form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

#conteneur h1 {
    margin-bottom: 1rem;
    text-align: center;
}

#conteneur input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#conteneur #boutons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#conteneur1 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteneur1.actif{
    display: flex;
}


#conteneur1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}

#conteneur1 h1 {
    margin-bottom: 1rem;
    text-align: center;
}

#conteneur1 input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#conteneur1 #boutons {
    display: flex;
    color: #0b0b0b;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#connexionBouton, #inscriptionBouton {

    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #145dbb;
    color: white;
    font-size: 1rem;
}

#pageSwitch {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #145dbb;
    color: white;
    font-size: 1rem;
}


#connexionBouton {
    margin-left: auto;
    margin-right: auto;
}


#inscriptionBouton {
    background: #145dbb;
}

#pageSwitch:hover {
    background: #0e4081;
}

#connexionBouton:hover {
    background: #0e4081;
}

#inscriptionBouton:hover {
    background: #0e4081;
}


