body {
    font-family: Arial, Helvetica, sans-serif;
    background: #360071;
}

#conteneur {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 20vw;
}

dialog form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
dialog form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);  /* léger voile sombre */
    backdrop-filter: blur(2px);       /* le flou */
}

textarea {
    resize: vertical;
    min-height: 100px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#connexionBouton, #inscriptionBouton {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #FFc341;
    color: white;
    font-size: 1rem;
}

#inscriptionBouton {
    background: #FB702D;
}

#inscriptionBouton:hover {
    background: #8e3e18;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

.form-group label {
    color: #cccccc;
    font-weight: bold;
}
