html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, #373038, #360071);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conteneur {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connexionBouton, #inscriptionBouton {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #FFc341;
    color: white;
    font-size: 1rem;
}

#inscriptionBouton {
    background: #FB702D;
}

#inscriptionBouton:hover {
    background: #8e3e18;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.form-group label {
    color: #cccccc;
    font-weight: bold;
}

.parent {
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px) scale(0.98);
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parent h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.parent form {
    padding: 20px;
    width: 20vw;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.parent .form-group label {
    color: #cccccc;
    font-weight: bold;
    justify-content: left;
}

.parent .form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    resize: vertical;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.close {
    border: none;
    background: transparent;
    color: #cccccc;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 0;
    cursor: pointer;
}

.parent.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}